body {
    font-family: Arial, sans-serif;
}
.calculator {
    width: 500px;
    background-color: rgb(2, 7, 10);
    margin: 5px auto;
    border: 3px solid hsl(180, 88%, 47%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgb(16, 12, 12);
}
.calculator input[type="button"] {
    width: 50px;
    height: 50px;
    border: 2px solid aqua
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
}
.calculator input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px;
    box-sizing: border-box;
    border-radius:5px;
}